.item {
  width: 95%;
  height: 95%;
  background: white;
  border-radius: 15px;

  &__img-container {
    position: absolute;
    transition: transform 0.1s;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__img {
    width: 100%;
    height: 300px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  &_rarity {
    height: 5px;
    margin: 5% 0 0;
    border-radius: 1rem;
    &__bg {
      background: #84579d;
    }
  }

  &__button{
      width: 100%;
      top: 50%;
  }

  &__texts {
    overflow: hidden;
    text-align: center;
    &-brand {
      height: 18px;
      font-size: 0.85rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;
    }
    &-value {
      margin: 0.5rem 0 0;
      &-remainder {
        position: relative;
        vertical-align: top;
        font-size: 75%;
      }
      &-whole {
        font-weight: 600;
        font-size: inherit;
      }
    }
  }
}

img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}