section {
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
  place-content: stretch flex-start;
  align-items: stretch;
}

.image {
  width: 100%;
  vertical-align: middle;
  border-style: none;
  &-container {
    text-align: center;
    width: 15rem;
    margin: -1rem 1rem 1rem;
  }
}

.texts {
  &__remainder {
    position: relative;
    vertical-align: top;
    font-size: 75%;
  }

  &__whole {
    font-weight: 600;
    font-size: 1.5rem;
  }
}

.info {
  flex: 1 1 0%;
  box-sizing: border-box;
  margin-top: 50px;

  &__icons {
    background: #f1f1f1;
    cursor: pointer;
    padding: 10px 20px;
    display: inline;
    font-size: 0.7rem;
    font-family: "Varela Round", sans-serif;
  }

  &__ctas {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .image {
    &-container {
      width: 100%;
    }
  }
  .info {
    &__button {
      width: 100%;
      margin-top: 5px;
    }
  }
}