<header>
    <h3>{{edges?.length}} in this box</h3>
</header>

<mat-grid-list [cols]="breakPoint" rowHeight="1:2" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let edge of edges" (mouseenter)="edge.show = true" (mouseleave)="edge.show = false">
        <div class="item" [@expandOnEnter]="{ value: '', params: { duration: 300, delay: 15, translate: '30px' } }">
            <div class="item__img-container">
                <img class="item__img" src="{{edge.node.item.iconUrl}}">
                <div class="item__texts">
                    <div class="item__texts-brand"><strong>{{edge?.node.item.brand}}</strong></div>
                    <div class="item__texts-name">{{(edge?.node.item.name.length>18)? (edge?.node.item.name | slice:0:18)+'..':(edge?.node.item.name)}}</div>
                    <div class="item__texts-value">
                            <span class="item__texts-value-whole">€{{getInt(edge?.node.item.value)}}</span>
                            <span class="item__texts-value-remainder">.{{getAfterDecimal(edge?.node.item.value)}}</span></div>
                </div>

                <div class="item__rarity item__rarity__bg"></div>
            </div>
            <button mat-flat-button color="primary" class="item__button" *ngIf="edge.show" [@fadeInUpOnEnter] [@fadeOutUpOnLeave]>
                    <span class="mat-button-wrapper"> view item </span>
            </button>
        </div>
    </mat-grid-tile>
</mat-grid-list>