section {
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
  place-content: stretch flex-start;
  align-items: stretch;
}

.image-container {
    text-align: center;
    width: 15rem;
    margin: -1rem 1rem 1rem
}

.info {
    flex: 1 1 0%;
    box-sizing: border-box;
}